SilverlightTestApplication/SilverlightTestApplication/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SchemaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISchemaService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_GetRelationUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_GetRelationUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRelationUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_LoadTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadTypes" />
  </wsdl:message>
  <wsdl:message name="ISchemaService_LoadTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadTypesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISchemaService">
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchemaService/GetDataUsingDataContract" message="tns:ISchemaService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchemaService/GetDataUsingDataContractResponse" message="tns:ISchemaService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRelationUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchemaService/GetRelationUsingDataContract" message="tns:ISchemaService_GetRelationUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchemaService/GetRelationUsingDataContractResponse" message="tns:ISchemaService_GetRelationUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/ISchemaService/LoadTypes" message="tns:ISchemaService_LoadTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISchemaService/LoadTypesResponse" message="tns:ISchemaService_LoadTypes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISchemaService" type="tns:ISchemaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISchemaService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRelationUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ISchemaService/GetRelationUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadTypes">
      <soap:operation soapAction="http://tempuri.org/ISchemaService/LoadTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchemaService">
    <wsdl:port name="BasicHttpBinding_ISchemaService" binding="tns:BasicHttpBinding_ISchemaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>