SilverlightTestApplication/SilverlightTestApplication/Service References/ServiceReference1/WcfServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="DataSetData">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataXML" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tables" nillable="true" type="tns:ArrayOfDataTableInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataSetData" nillable="true" type="tns:DataSetData" />
  <xs:complexType name="ArrayOfDataTableInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataTableInfo" nillable="true" type="tns:DataTableInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataTableInfo" nillable="true" type="tns:ArrayOfDataTableInfo" />
  <xs:complexType name="DataTableInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Columns" nillable="true" type="tns:ArrayOfDataColumnInfo" />
      <xs:element minOccurs="0" name="Rows" nillable="true" type="tns:ArrayOfDataInfo" />
      <xs:element minOccurs="0" name="TableName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTableInfo" nillable="true" type="tns:DataTableInfo" />
  <xs:complexType name="ArrayOfDataColumnInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataColumnInfo" nillable="true" type="tns:DataColumnInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataColumnInfo" nillable="true" type="tns:ArrayOfDataColumnInfo" />
  <xs:complexType name="DataColumnInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ColumnName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColumnTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayIndex" type="xs:int" />
      <xs:element minOccurs="0" name="EditControlType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsKey" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsRequired" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxLength" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataColumnInfo" nillable="true" type="tns:DataColumnInfo" />
  <xs:complexType name="ArrayOfDataInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataInfo" nillable="true" type="tns:DataInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataInfo" nillable="true" type="tns:ArrayOfDataInfo" />
  <xs:complexType name="DataInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DataRow" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataInfo" nillable="true" type="tns:DataInfo" />
  <xs:complexType name="ArrayOfPairRelation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PairRelation" nillable="true" type="tns:PairRelation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPairRelation" nillable="true" type="tns:ArrayOfPairRelation" />
  <xs:complexType name="PairRelation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key2" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PairRelation" nillable="true" type="tns:PairRelation" />
</xs:schema>